.screen {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 200px;
}

.history {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    height: 140px;
    overflow-y: auto;
}

.historyElements {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.screenValue {
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
}